<app-admin-header></app-admin-header>


<div class="container"  >
  <div class="row">

    <mat-tab-group animationDuration="0ms"   >

      <mat-tab label="Adding Employee" ><br>

        <button (click)="AddEmployee()" style="width: 1296px;" class="btn btn-warning"><i class="fas fa-plus">Add Employee</i></button>
      <h1 style="text-decoration: underline; font-size: 50px; padding-top: 20px;">All Employees</h1>

        <h1 *ngIf="listEmployees ? listEmployees : 'Please Add Employee' "></h1>
    <div *ngFor="let employee of listEmployees"  style="margin-top: 10px;">
      <div class="card mb-3" >
        <div class="card-header">
          <strong>Employee Id: {{employee?.employeeId}}</strong>
        </div>
        <div class="card-body">
          <strong>
           Employee Name: <h3 class="card-title" style="font-weight: solid;">{{employee?.firstName + " " + employee?.lastName}}</h3>
          </strong>
        </div>
        <div class="card-footer">
          <button  (click)="showDetailEmployee(employee?.employeeId)" class="btn btn-primary">Detail Employee</button> |
          <a [routerLink]="['/Admin/EditEmployee', employee?.employeeId]" class="btn btn-warning">Edit Employee</a> |
          <button  (click)="openDeleteDialogConfarmation(employee?.employeeId)" class="btn btn-danger">Remove Employee</button>
        </div>
      </div>
    </div>
      </mat-tab>
      <mat-tab  label="Employee Payments"><br>
        <br>
        <h1 style="color: red;">{{accountBalanceMesg}}</h1>
        <h1 style="color: green;">{{employeePaymentDone}}</h1>

        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Employee Monthly Payment
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">

                <div>
                  <p-table [value]="listEmployees" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Employee Name</th>
                            <th>Salary</th>
                            <th>EmployeeID</th>

                            <th>Payment Paying Date</th>
                            <th>Paying Employee</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-EmployeePayment>
                        <tr>
                            <td><strong> {{EmployeePayment?.firstName + " " + EmployeePayment?.lastName}} </strong> </td>
                            <td><strong>{{EmployeePayment?.salary}} </strong> </td>
                            <td><strong>{{EmployeePayment?.employeeId}} </strong> </td>

                            <td> <strong>{{todayDate | date }} </strong> </td>
                            <td><strong><button (click)="PayingEmployeesPayment(EmployeePayment)" class="btn btn-primary">Paying Employee</button> </strong> </td>
                        </tr>
                    </ng-template>
                </p-table>
                </div>



              </div>
            </div>
          </div>
        </div>
      </mat-tab>


      <!-- Employee Past Salaries Data -->

      <mat-tab label="Employee Salaries">
<br>
            <h1 style="text-decoration: underline; font-size: 50px;">All Employees Payments History</h1>
            <br>
            <input style="width: 300px;"  id="selectSearch" #searchInput (keyup)="searchingEmployeeData($event)" type="text" class="form-control ms-auto" placeholder="Search Employees">
            <div class="card" style="margin-top: 10px;">
              <p-table [value]="getEmployees?.employeeData"   [rows]="8" [showCurrentPageReport]="true"
                responsiveLayout="scroll"  currentPageReportTemplate="Showing {first} to {last} of {{getEmployees?.count}} entries"
                [rowsPerPageOptions]="[8,25,50]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Employee-Name</th>
                    <th>Employee-PhoneNumber</th>
                    <th>Salary</th>
                    <th>Payment_At</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Employee>
                  <tr>
                    <td>{{Employee?.employee?.firstName + " " + Employee?.employee?.lastName}}</td>
                    <td>{{Employee?.employee?.phoneNumber}}</td>
                    <td>{{Employee?.employee?.salary | currency: 'Rs ': 'symbol':'1.0'}}</td>
                    <td>{{Employee?.payment_At | date}}</td>
                  </tr>

                </ng-template>

              </p-table>

        <ngb-pagination  style="padding-left: 525px;"  (pageChange)="tablePageNo($event)" [pageSize]="8"  [collectionSize]="getEmployees?.count" [page]="1" [directionLinks]="true"></ngb-pagination>

            </div>

      </mat-tab>
    </mat-tab-group>
    <!-- List Role -->

</div>
  </div>


<mat-spinner mode="indeterminate"  *ngIf="showIndicator" class="matSpinner"></mat-spinner>



<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton label="Cancel" (click)="cd?.reject()" class="btn btn-primary"></button>
    <button type="button" class="btn {{payingEmployeeDialog? 'btn-warning':'btn-danger'}}"  label="Ok" (click)="cd?.accept()">{{payingEmployeeDialog?"Pay Employee":"Remove"}}</button>
  </p-footer>
</p-confirmDialog>

<p-dialog [(visible)]="displayModal" [dismissableMask]="true" [modal]="true" [style]="{width: '55vw', height: '800px'}"
  [draggable]="false" [resizable]="false">
  <p-header>
    <h1 style="text-align: center;">Employee Detail</h1>
  </p-header>
  <div class="row">
    <div class="col-sm-3">
      <td><strong>FirstName</strong></td><br>
      <td><span>{{singleEmployeeDetail?.firstName}}</span></td><br>

      <td><strong>LastName</strong></td><br>
      <td><span>{{singleEmployeeDetail?.lastName}}</span></td><br>

      <td><strong>UserName</strong></td><br>
      <td><span>{{singleEmployeeDetail?.user?.userName}}</span></td><br>

      <td><strong>HomeAddress</strong></td><br>
      <td><span>{{singleEmployeeDetail?.homeAddress}}</span></td><br>

      <td><strong>PhoneNumber</strong></td><br>
      <td><span>{{singleEmployeeDetail?.phoneNumber}}</span></td><br>

      <td><strong>DateOfBirth</strong></td><br>
      <td><span>{{singleEmployeeDetail?.dathOfBirth | date}}</span></td><br>

      <td><strong>EmployeeHireDate</strong></td><br>
      <td><span>{{singleEmployeeDetail?.employeeHireDate | date}}</span></td><br>

      <td><strong>Salary</strong></td><br>
      <td><span>{{singleEmployeeDetail?.salary | currency: 'Rs ': 'symbol':'1.0'}}</span></td><br>

    </div>

    <div class="col-sm-3">
      <td><strong>Gender</strong></td><br>
      <td><span>{{singleEmployeeDetail?.gender}}</span></td><br>

      <td><strong>RoleName</strong></td><br>
      <td><span>{{singleEmployeeDetail?.roleName}}</span></td><br>

      <td><strong>Email</strong></td><br>
      <td><span>{{singleEmployeeDetail?.user?.email}}</span></td><br>

    </div>
  </div>
</p-dialog>



