<app-admin-header></app-admin-header>


<div class="container"  >
  <div class="row">
    <mat-tab-group animationDuration="0ms"   >
      <mat-tab label="Adding Employee" ><br>
        <button (click)="AddEmployee()" style="width: 1296px;" class="btn btn-warning"><i class="fas fa-plus">Add Employee</i></button>
        <h1 *ngIf="listEmployees ? listEmployees : 'Please Add Employee' "></h1>
    <div *ngFor="let employee of listEmployees"  style="margin-top: 10px;">
      <div class="card mb-3" >
        <div class="card-header">
          <strong>Employee Id: {{employee?.employeeId}}</strong>
        </div>
        <div class="card-body">
          <strong>
           Employee Name: <h3 class="card-title" style="font-weight: solid;">{{employee?.firstName + " " + employee?.lastName}}</h3>
          </strong>
        </div>
        <div class="card-footer">
          <button  (click)="showDetailEmployee(employee?.employeeId)" class="btn btn-primary">Detail Employee</button> |
          <a [routerLink]="['/Admin/EditEmployee', employee?.employeeId]" class="btn btn-warning">Edit Employee</a> |
          <button  (click)="openDeleteDialogConfarmation(employee?.employeeId)" class="btn btn-danger">Remove Employee</button>
        </div>
      </div>
    </div>
      </mat-tab>
      <mat-tab  label="Employee Payments"><br>
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Employee Unpaid Monthly Payment
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">

                <div>
                  <p-table [value]="gettingUnpaidEmployeePayment" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Employee Name</th>
                            <th>Salary</th>
                            <th>Payment</th>
                            <th>Payment Paying Date</th>
                            <th>Paying Employee</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-EmployeePayment>
                        <tr>
                            <td><strong> {{EmployeePayment?.employee?.firstName + " " + EmployeePayment?.employee?.lastName}} </strong> </td>
                            <td><strong>{{EmployeePayment?.employee?.salary}} </strong> </td>
                            <td> <strong>{{EmployeePayment?.payment? false: "Un-Paid-Employee"}} </strong> </td>
                            <td> <strong>{{EmployeePayment?.payment_At ? (EmployeePayment?.payment_At | date) : todayDate | date }} </strong> </td>
                            <td><strong><button (click)="updateEmployeePayment(EmployeePayment)" class="btn btn-primary">Paying Employee</button> </strong> </td>
                        </tr>
                    </ng-template>
                </p-table>
                </div>



              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Employee Monthly Paid Payment
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">

                <div>
                  <p-table [value]="gettingPaidEmployeePayment" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Employee Name</th>
                            <th>Salary</th>
                            <th>Payment</th>
                            <th>Payment Paid Date</th>
                            <th>Remove From Paying Employee</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-EmployeePayment>
                        <tr>
                            <td><strong> {{EmployeePayment?.employee?.firstName + " " + EmployeePayment?.employee?.lastName}} </strong></td>
                            <td><strong>{{EmployeePayment?.employee?.salary}} </strong> </td>
                            <td> <strong> {{EmployeePayment?.payment? "Employee-Paid": " "}} </strong> </td>
                            <td> <strong> {{EmployeePayment?.payment_At | date}}</strong></td>
                            <td><strong><button (click)="updateEmployeePayment(EmployeePayment)" class="btn btn-danger">Remove from paying Employee</button> </strong> </td>
                        </tr>
                    </ng-template>
                </p-table>
                </div>


              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <!-- List Role -->

</div>
  </div>


<mat-spinner mode="indeterminate"  *ngIf="showIndicator" class="matSpinner"></mat-spinner>



<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton label="Cancel" (click)="cd?.reject()" class="btn btn-primary"></button>
    <button type="button" class="btn btn-danger"  label="Ok" (click)="cd?.accept()">Remove</button>
  </p-footer>
</p-confirmDialog>

<p-dialog [(visible)]="displayModal" [dismissableMask]="true" [modal]="true" [style]="{width: '55vw', height: '800px'}"
  [draggable]="false" [resizable]="false">
  <p-header>
    <h1 style="text-align: center;">Employee Detail</h1>
  </p-header>
  <div class="row">
    <div class="col-sm-3">
      <td><strong>FirstName</strong></td><br>
      <td><span>{{singleEmployeeDetail?.firstName}}</span></td><br>

      <td><strong>LastName</strong></td><br>
      <td><span>{{singleEmployeeDetail?.lastName}}</span></td><br>

      <td><strong>UserName</strong></td><br>
      <td><span>{{singleEmployeeDetail?.user?.userName}}</span></td><br>

      <td><strong>HomeAddress</strong></td><br>
      <td><span>{{singleEmployeeDetail?.homeAddress}}</span></td><br>

      <td><strong>PhoneNumber</strong></td><br>
      <td><span>{{singleEmployeeDetail?.phoneNumber}}</span></td><br>

      <td><strong>DateOfBirth</strong></td><br>
      <td><span>{{singleEmployeeDetail?.dathOfBirth | date}}</span></td><br>

      <td><strong>EmployeeHireDate</strong></td><br>
      <td><span>{{singleEmployeeDetail?.employeeHireDate | date}}</span></td><br>

      <td><strong>Salary</strong></td><br>
      <td><span>{{singleEmployeeDetail?.salary | currency: 'Rs ': 'symbol':'1.0'}}</span></td><br>

    </div>

    <div class="col-sm-3">
      <td><strong>Gender</strong></td><br>
      <td><span>{{singleEmployeeDetail?.gender}}</span></td><br>

      <td><strong>RoleName</strong></td><br>
      <td><span>{{singleEmployeeDetail?.roleName}}</span></td><br>

      <td><strong>Email</strong></td><br>
      <td><span>{{singleEmployeeDetail?.user?.email}}</span></td><br>

    </div>
  </div>
</p-dialog>



