<app-admin-header></app-admin-header>



<div class="container">
  <div class="row">
    <button *ngIf="accountList.length > 0 ? !hideAddButton: hideAddButton" (click)="AddAccountBalance()"  class="btn btn-warning"><i class="fas fa-plus">Add Account Balance</i></button><br>
    <button *ngIf="accountList.length == 0 ? !hideAddButton: hideAddButton" (click)="EditAccountModel()" class="btn btn-info"><i class="fas fa-edit">Edit Account Balance</i></button>
    <div class="col-12">

      <mat-tab-group animationDuration="0ms" [selectedIndex]="0" >

        <mat-tab label="Current-Account-detail">
          <br>


          <div class="col-xl-3 col-lg-6"  style="float: left; margin-right: 20px;" >
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Account holder</h5>
                    <span class="h2 font-weight-bold mb-0">{{singleLatestAccountDetail?.userName }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>

                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span> -->
                </p>
              </div>
            </div>
          </div>



          <div class="col-xl-3 col-lg-6" style="float: left; margin-right: 20px;" >
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Account current balance</h5>
                    <span class="h2 font-weight-bold mb-0">{{singleLatestAccountDetail?.balance | currency: 'Rs ': 'symbol':'1.0'}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span> -->
                </p>
              </div>
            </div>
          </div>




          <div class="col-xl-3 col-lg-6" style="float: left; margin-right: 20px;" >
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Account updated Date-Time</h5>
                    <span class="h4 font-weight-bold mb-0" >{{singleLatestAccountDetail?.modified_At | date :'dd - MMM - yyyy,  h:mm:ss a'}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span> -->
                </p>
              </div>
            </div>
          </div>



          <div class="col-xl-3 col-lg-6" style="float: left; margin-right: 20px;" >
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Mobiles worth</h5>
                    <span class="h2 font-weight-bold mb-0">{{mobilesTotalWorth | currency: 'Rs ': 'symbol':'1.0'}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span> -->
                </p>
              </div>
            </div>
          </div>


          <div class="col-xl-3 col-lg-6"  style="float: left; margin-right: 20px;" >
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Employee salary</h5>
                    <a class="btn btn-primary" [routerLink]="['/Admin/Employee']">Give employee salaries</a>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>

                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span> -->
                </p>
              </div>
            </div>
          </div>










        </mat-tab>

        <mat-tab label="Account-history">
          <br>

          <p-table *ngIf="accountList?.length != 0" [value]="accountList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
          <ng-template pTemplate="header">
              <tr>
                  <th>Account-holder</th>
                  <th>Account-balance</th>
                  <th>Account-balance-change-date</th>
                  <th>Account-new-entry-created</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-accountListData>
              <tr>
                 <td>{{accountListData?.userName}}</td>
                  <td>{{accountListData?.balance | currency: 'Rs ': 'symbol':'1.0'}}</td>
                  <td>{{accountListData?.modified_At | date :'dd - MMM - yyyy,  h:mm:ss a'}}</td>
                  <td>{{accountListData?.created_At | date :'dd - MMM - yyyy,  h:mm:ss a'}}</td>

              </tr>
          </ng-template>

      </p-table>




        </mat-tab>
      </mat-tab-group>
    </div>

</div>
</div>
<mat-spinner mode="indeterminate"  *ngIf="showIndicator" class="matSpinner"></mat-spinner>



<!-- Adding Account Balance Data -->


<!-- Adding User Address -->
<p-dialog header="Adding Account Balance" [style]="{width: '500px'}" [(visible)]="displayModelAccountBalance" (onHide)="hideModel()">

  <form #accountForm="ngForm" (ngSubmit)="addAccount(accountForm)">
    <input required ngModel #accountBalance="ngModel" pattern="^[0-9]*[1-9]+" type="number"     name="balance"  placeholder="Please write the balance you want to add"
      class="form-control"><br>
      <span style="color: red;" *ngIf="accountBalance.invalid && accountBalance.touched || accountBalance.value < 0">You cannot add negative value</span>

      <input [hidden]="true"  type="text" name="user_ID"  ngModel [ngModel]="userDetails?.id"
      class="form-control">


    <button type="submit" [disabled]="accountForm.value == null && accountForm.invalid"   class="btn btn-primary">Submit</button>
  </form>
</p-dialog>


<!-- Edit Account -->

<p-dialog header="Editing Account Balance" [style]="{width: '500px'}" [(visible)]="editdisplayModelAccountBalance" (onHide)="hideModel()">

  <form #accountFormData="ngForm" (ngSubmit)="EditAccount(accountFormData)">
    <input required ngModel #accountBalanceUpdate="ngModel" pattern="^[0-9]*[1-9]+"  name="balance"  type="number"   [(ngModel)]="editFormData.balance"     placeholder="Please write the balance you want to add"
      class="form-control"><br>
    <span style="color: red;" *ngIf="accountBalanceUpdate.invalid && accountBalanceUpdate.touched ">You cannot add negative value</span><br>

       <input [hidden]="true"  type="text" name="user_ID"  ngModel [(ngModel)]="userDetails.id"
      class="form-control">

    <button  type="submit" [disabled]="accountBalanceUpdate.value == null && accountBalanceUpdate.invalid || accountBalanceUpdate.value < 0"   class="btn btn-primary">Submit</button>
  </form>
</p-dialog>
