<p>authorized-images works!</p>

<app-header-sidebar></app-header-sidebar>



<div class="col-10"><br>
  <div class="row">
   <div>
     <div class="container-fluid">
       <div class="row">
         <div class="col-2-offset"></div>
         <mat-tab-group animationDuration="0ms">
          <mat-tab label="User Photos">
          <br>
          <div class="container-fluid">
            <div class="row">
            <button (click)="AddUserImageModel()"  class="btn btn-warning"><i class="fas fa-plus">Add User Image</i></button>
            <h1><strong>Your Profile</strong></h1>
            <div class="col-sm-4">
              <div class="card">
                <img class="card-img-top img-thumbnail" [src]="imageForMainProfile" alt="">
                <div class="card-body">
                  <strong>User Name:</strong>
                  <p>{{userPhotosData?.userName}}</p>
                </div>
                <div class="card-body">
                  <strong>User Email:</strong>
                  <p>{{userPhotosData?.email}}</p>
                </div>
                <div class="card-body">
                  <strong>Phone Nubmer:</strong>
                  <p>{{getSingleUserAddress?.phoneNumber}}</p>
                </div>
                <div class="card-body">
                  <strong>User Id:</strong>
                  <p>{{userPhotosData?.id}}</p>
                </div>
              </div>
              <div class="card-footer">
                <div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <ngb-carousel>
                <ng-template ngbSlide *ngFor="let singlePhotos of userPhotosData?.userImages">
                  <div class="picsum-img-wrapper">
                    <img [src]="singlePhotos?.url" width="100%" alt="Random first slide">
                  </div>
                  <div class="carousel-caption">
                    <h3>{{singlePhotos?.descriptionHeader}}</h3>
                    <p>{{singlePhotos?.description}}</p>
                  </div>
                </ng-template>
              </ngb-carousel><br>
              <div class="row">
                <div class="col-sm-3" *ngFor="let photo of userPhotosData?.userImages; let i=index" >
                  <img style="height: 100px; width: 100px !important; margin-bottom: 2px;" src="{{photo?.url}}" alt=""
                    class="img-thumbnail p-1">
                  <div class="text-center" style="width: 155px;">&nbsp;
                    <button [disabled]="photo?.isMainPhoto?true:false" type="button" class="btn btn-sm btn-success"
                      (click)="MainPhoto(photo)">{{photo?.isMainPhoto?"it is Main Photo Now": "IsMain"}}</button>&nbsp;
                    <button [disabled]="photo?.isMainPhoto?true:false" [hidden]="photo?.isMainPhoto" type="button"
                      class="btn btn-sm btn-danger" (click)="openDeleteDailog(photo?.id, userPhotosData?.id)"><i
                        class="fa fa-trash"></i></button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </mat-tab>
          <mat-tab label="User Address">
            <br>
            <div class="container-fluid">
              <div class="row">
                <h1 *ngIf="pleaseAddAddress">Please Add the Address First</h1>
                  <button *ngIf="pleaseAddAddress" (click)="AddUserAddressModel()"  class="btn btn-warning"><i class="fas fa-plus">Add User Address</i></button>

                <div *ngIf="!pleaseAddAddress" class="card" style="width: 500px;">
                  <h1 class="card-title">User Address
                    <a style="cursor: pointer; float: right;" (click)="EditUserAddressModel(getSingleUserAddress)">
                      <i class="fas fa-edit"></i>
                    </a>

                  </h1>
                  <div class="card-body">
                    <strong>User Address:</strong>
                    <p>{{getSingleUserAddress?.completeAddress}}</p>
                  </div>
                  <div class="card-body">
                    <strong>Phone Nubmer:</strong>
                    <p>{{getSingleUserAddress?.phoneNumber}}</p>
                  </div>
                  <div class="card-body">
                    <strong>Country</strong>
                    <p>{{getSingleUserAddress?.city?.country?.countryName}}</p>
                  </div>
                  <div class="card-body">
                    <strong>City</strong>
                    <p>{{getSingleUserAddress?.city?.cityName}}</p>
                  </div>
                </div>


              </div>
            </div>


          </mat-tab>
          <mat-tab label="Third"> Content 3 </mat-tab>
        </mat-tab-group>


      </div>
     </div>
   </div>




<mat-spinner mode="indeterminate"  *ngIf="loadingIndicator" class="matSpinner"></mat-spinner>


<p-dialog header="Adding User Image" [style]="{width: '500px'}"  [(visible)]="displayModel" (onHide)="hideModel(photoData)">
  <form #photoData="ngForm" (ngSubmit)="InsertPhoto(userPhotosData?.id, photoData)">
    <input type="text" name="descriptionHeader" ngModel placeholder="Please Write the Header Photo"
      class="form-control"><br>
    <input type="text" name="description" ngModel placeholder="Please Write the description of photo"
      class="form-control"><br>
    <input type="file" #MyFileInput class="" ngModel (change)="fileChange($event)" name="File"><br><br>
    <button type="submit" class="btn btn-primary">Add Photo</button>
  </form>
</p-dialog>

<p-dialog header="Adding User Address" [style]="{width: '500px'}" [(visible)]="displayModelUserAddress" (onHide)="hideModel(UserAddress)">
  <form #UserAddress="ngForm" (ngSubmit)="InsertUserAddress(UserAddress)">
    <input type="text" name="completeAddress" ngModel placeholder="Please Write the Full Address"
      class="form-control"><br>
    <input type="text" name="phoneNumber" ngModel placeholder="Please Write the Phone Number"
      class="form-control"><br>
      <input [hidden]="true"  type="text" name="user_ID" ngModel [ngModel]="userPhotosData?.id"
      class="form-control">

      <select name="country" class="form-select"  (change)="showingCities($event)">
        <option selected disabled>------------------------Select-Country----------------------------
        </option>
        <option *ngFor="let country of Countries" [value]="country?.countryId">{{country?.countryName}}</option>
      </select><br>

      <select #forValidation="ngModel" name="city_ID" class="form-select" ngModel [(ngModel)]="forSelected" >
        <option [value]="null" >------------------------Select-City----------------------------
        </option>
        <option *ngFor="let city of CitiesDataFilterd" [value]="city?.cityId">{{city?.cityName}}</option>
      </select><br>
    <button type="submit" [disabled]="forValidation.value == null"   class="btn btn-primary">Add Photo</button>


  </form>
</p-dialog>

<p-dialog header="Adding User Address" [style]="{width: '500px'}" [(visible)]="editDisplayModelUserAddress" (onHide)="EditHideModel()">
  <form [formGroup]="reactiveFormData">
    <input type="text" formControlName="completeAddress"  placeholder="Please Write the Full Address"
      class="form-control"><br>
    <input type="text" formControlName="phoneNumber" placeholder="Please Write the Phone Number"
      class="form-control"><br>
      <input [hidden]="true"  type="text" formControlName="user_ID"
      class="form-control">

      <select  class="form-select" formControlName="countries"  (change)="showingCities($event)">
        <option *ngFor="let country of Countries" [value]="country.countryId">{{country?.countryName}}</option>
      </select><br>

      <select #select class="form-select" formControlName="city_ID" >
        <option  [value]="'0'">------------------------Select-City--------------------------------</option>
        <option *ngFor="let city of CitiesDataFilterd" [value]="city?.cityId">{{city?.cityName}}</option>
      </select><br>

    <button type="submit" [disabled]="select.value == '0'" (click)="EditUserAddress()" class="btn btn-primary">Edit User Address</button>

  </form>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>




