<app-admin-header></app-admin-header>



<mat-spinner mode="indeterminate"  *ngIf="showIndicator" class="matSpinner"></mat-spinner>

<div class="container">

  <h1 style="font-size: 33px;">Add Employee</h1>

  <!-- Adding Mobile Form -->

  <form  [formGroup]="employeeFormData" >
    <div class="row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">First-Name</label>
        <input formControlName="firstName" type="text" class="form-control" placeholder="First-Name">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Last-Name</label>
        <input formControlName="lastName" type="text" class="form-control" placeholder="Last-Name">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Date of Birth</label>
        <input formControlName="dathOfBirth" type="Date" class="form-control">
      </div>
    </div><br>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="inputPassword4">Salary</label>
        <input formControlName="salary" type="number" class="form-control" placeholder="Salary">
      </div>
      <div class="form-group col-md-4">
        <label for="inputEmail4">Home Address</label>
        <input formControlName="homeAddress" type="text" class="form-control" placeholder="Home Address">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Phone Number</label>
        <input formControlName="phoneNumber" type="number" class="form-control" placeholder="Phone Number">
      </div>

    </div><br>
    <div class="row">

      <div class="form-group col-md-4">
        <label for="inputEmail4">Employee Hire Date</label>
        <input formControlName="employeeHireDate" type="Date"  class="form-control" placeholder="Employee Hire Date">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Role</label>
        <select formControlName="roleName" class="form-select">
          <option [value]="null" disabled>----------------------------------Select-Role----------------------------------
          </option>
          <option *ngFor="let role of roleList" [value]="role?.name">{{role?.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4" style="padding-bottom: 10px;">Gender</label><br>
        <mat-radio-group  formControlName="gender" aria-label="Select an option">
          <mat-radio-button value="Male">Male</mat-radio-button> &nbsp;
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <button [disabled]="employeeFormData.invalid || employeeFormData.get('confirmUserPassword')?.value != employeeFormData.get('userPassword')?.value" (click)="UpdateEmployeeData()" class="btn btn-primary"
    style="cursor: pointer; margin-top: 30px; width: 245px;"> Update Employee </button>

  </form>

</div>
