.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: orange;
    color: rgb(18, 49, 226);
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

#dropdown-link-hover-color {
  color: green;
}

.dropdown-menu > li > a:hover {
  background-color: #0275d8;
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.navbar {
  position:fixed;
  z-index:1; /*Add this*/
  width:100%;
  height:60px;
  top:0px;
}


.sidebar-left-nav {
  -webkit-transform: translate3d(-100%, 0px, 0px);
  transform: translate3d(-100%, 0px, 0px);
  visibility: visible;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.closed .sidebar-left-nav {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible;
}

.fab:hover, .fa:hover, .fas:hover, .far:hover{
  border-radius: 10px;
}

aside  .first-box{
  height: 200px;
  max-width: 250px;
  position: relative;
  background-color: #86c5da;
  border-radius: 10px;
  margin-top:15px ;
  margin-left: 20px;

}
aside span{
  position: absolute;
  margin: 20px;
  margin-right: 15px;
  background-color: #FCF6F5FF;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}
aside .first-box-items{
  position: absolute;
  padding: 10px;
  margin:30px 10px 0px 20px;
}
.first-box-items li{
  list-style: none;
  padding: 5px;
}
.first-box-items li a{
  text-decoration: none;
}
.first-box-items li a:hover{
  background-color: #ade6d8;
}
aside .second-box{
  height: 150px;
  width: 250px;
  position: relative;
  background-color: #86c5da;
  border-radius: 10px;
  margin-left: 20px;

}
aside .third-box{
  height: 180px;
  width: 250px;
  position: relative;
  background-color: #86c5da;
  border-radius: 10px;
  margin-left: 20px;

}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: orange;
    color: rgb(18, 49, 226);
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

#dropdown-link-hover-color {
  color: green;
}

.dropdown-menu > li > a:hover {
  background-color: #0275d8;
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.navbar {
  position:fixed;
  z-index:1; /*Add this*/
  width:100%;
  height:60px;
  top:0px;
}
