<app-admin-header></app-admin-header>

<mat-spinner mode="indeterminate"  *ngIf="showIndicator" class="matSpinner"></mat-spinner>


<div class="container">
  <h1 style="text-decoration: underline; font-size: 50px;">Add Employees</h1>

  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
    <a (click)="removeErrorEvent()" style="cursor: pointer; float: right;">
      <span aria-hidden="true">&times;</span>
    </a>
  </div>



  <!-- Adding Mobile Form -->

  <form  [formGroup]="employeeFormData" >
    <div class="row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">First-Name</label>
        <input formControlName="firstName" type="text" class="form-control" placeholder="First-Name">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Last-Name</label>
        <input formControlName="lastName" type="text" class="form-control" placeholder="Last-Name">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">User-Name</label>
        <input formControlName="userName" type="text" class="form-control" placeholder="User-Name">
      </div>
    </div><br>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Email</label>
        <input formControlName="email" type="text" class="form-control" placeholder="Email">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Password</label>
        <input formControlName="userPassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{6,15}$" type="password" class="form-control" placeholder="Password">
        <span *ngIf="employeeFormData.get('userPassword')?.invalid && employeeFormData.get('userPassword')?.touched" style="color:red;">(Password must have at least 8 characters,1 Uppercase, 1 lower case and 1 Number)</span>
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Confirm Password</label>
        <input formControlName="confirmUserPassword" type="password" class="form-control" placeholder="Confirm Password">
      <span *ngIf="employeeFormData.get('confirmUserPassword')?.value != employeeFormData.get('userPassword')?.value" style="color:red;">Confirm Required Password</span>
      <br>

    </div><br>

    <div class="row">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Date of Birth</label>
      <input formControlName="dathOfBirth" type="Date" class="form-control">
    </div>
      <div class="form-group col-md-4">
        <label for="inputEmail4">Home Address</label>
        <input formControlName="homeAddress" type="text" class="form-control" placeholder="Home Address">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Phone Number</label>
        <input formControlName="phoneNumber" type="number" class="form-control" placeholder="Phone Number">
      </div>

    </div><br>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="inputPassword4">Salary</label>
        <input formControlName="salary" type="number" class="form-control" placeholder="Salary">
      </div>
      <div class="form-group col-md-4">
        <label for="inputEmail4">Employee Hire Date</label>
        <input formControlName="employeeHireDate" type="Date"  class="form-control" placeholder="Employee Hire Date">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Role</label>
        <select formControlName="roleName" class="form-select">
          <option [value]="null" disabled>----------------------------------Select-Role----------------------------------
          </option>
          <option *ngFor="let role of roleList" [value]="role?.name">{{role?.name}}</option>
        </select>
      </div>
    </div><br>


    <div class="row">
      <div class="form-group col-md-4">
        <label for="inputPassword4" style="padding-bottom: 10px;">Gender</label><br>
        <mat-radio-group  formControlName="gender" aria-label="Select an option">
          <mat-radio-button value="Male">Male</mat-radio-button> &nbsp;
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>



    <button [disabled]="employeeFormData.invalid || employeeFormData.get('confirmUserPassword')?.value != employeeFormData.get('userPassword')?.value" (click)="AddEmployeeData()" class="btn btn-primary"
    style="cursor: pointer; margin-top: 30px; width: 245px;"> Add Employee </button>

  </form>

</div>
