<app-admin-header></app-admin-header>



<mat-spinner mode="indeterminate"  *ngIf="showIndicator" class="matSpinner"></mat-spinner>

          <!-- Order Detail Page View -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><strong>User Order Detail</strong></h1>
<hr>
      <!-- Address of User -->
      <div style="font-size: 20px; font-style: roboto;">
      <p>Order Number: <strong>{{userOrderDetailData?.orderId}}</strong></p>
      <p>Order by: <strong>{{userOrderDetailData?.userName}}</strong></p>
      <p>Email: <strong>{{userOrderDetailData?.email}}</strong></p>
      <p>Country: <strong>{{userOrderDetailData?.countryName}}</strong></p>
      <p>City: <strong>{{userOrderDetailData?.cityName}}</strong></p>
      <p>PhoneNumber: <strong>{{userOrderDetailData?.phoneNumber}}</strong></p>
      <p>Address: <strong>{{userOrderDetailData?.completeAddress}}</strong></p>
      <p>Order Requested: <strong>{{userOrderDetailData?.orderDate | date :'dd - MMM - yyyy,  h:mm:ss a' }} </strong></p>
      <p>Order Accepted: <strong>{{shippedDataShowning == false? (userOrderDetailData?.shippedDate | date :'dd - MMM - yyyy,  h:mm:ss a'):"Not yet"}}</strong>
      <strong>{{cancelMessage}}</strong>
      </p>
    </div>


<br><br>
      <table class="table table-borderless">
        <thead>
          <tr style="border-bottom: 2px solid #03b1ca; color: #03b1ca;">
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">TotalPriceWithQuantity</th>
          </tr>
        </thead>
        <tbody>
           <tr style=" font-size: 15px; border-bottom: 1px solid rgb(129, 128, 128); " *ngFor="let orderDetailData of userOrderDetailData?.orderDetail">
            <td>{{orderDetailData?.productName}}</td>
            <td>{{orderDetailData?.quantity}}</td>
            <td>{{orderDetailData?.price | currency: 'Rs ': 'symbol':'1.0'}}</td>
            <td>{{orderDetailData?.price * orderDetailData?.quantity | currency: 'Rs ': 'symbol':'1.0'}}</td>
          </tr>
        </tbody>
      </table>

      <h2 style="text-align: right; padding-right: 270px;">TOTAL = {{totalPriceSingleOrder | currency: 'Rs ': 'symbol':'1.0'}}</h2>
<hr>
<button style="float: right;" class="btn btn-primary" *ngIf="shippedDataShowning" (click)="confirmOrder(userOrderDetailData)">Confirm Order!</button>
</div>
  </div>
</div>



<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
