<app-admin-header></app-admin-header>
<div class="container">
  <div class="row">
<div class="card">
  <div class="card-body">

    <h1>Users In This Role</h1>
    <form >
      <div *ngFor="let singleUser of userAllData">
        <mat-checkbox (change)="onChange(singleUser)"
        class="example-margin"style="cursor: pointer;" [checked]="singleUser?.isSelected">
        {{singleUser?.userEmail}}</mat-checkbox><br><br>
      </div>

      <button class="btn btn-primary" (click)="updateSubmitUsersRole()">Update Mobile</button>

    </form>






  </div>
</div>
  </div>
</div>
<mat-spinner mode="indeterminate"  *ngIf="showIndicator" class="matSpinner"></mat-spinner>
